<p id="notice"><%= notice %></p>

<p>
  <strong>Discharge date:</strong>
  <%= @discharge.discharge_date %>
</p>

<%= link_to 'Edit', edit_discharge_path(@discharge) %> |
<%= link_to 'Back', discharges_path %>
