<h3>Doctors</h3>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>age</th>
      <th>salary</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.age %></td>
        <td><%= doctor.salary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




 
