<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.name %></td>
        <td><%= link_to 'Remove',  visit_diagnosis_path(diagnosis.visit,diagnosis), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Diagnosis',   new_visit_diagnosis_path(
@visit),:class=>"btn btn-primary"%>

