<div class="field">
  <%= visit_room.label :room_no %>*<br>
  <%= visit_room.select :room_id, options_for_select([''] ),{}, class: "form-control room_no",:readonly=>true%>
</div></br>
<div class="field">
  <%= visit_room.label :bed_no %>*<br>
  <%= visit_room.select :bed_id ,options_for_select([''] ),{}, class: "form-control bed_no ",:readonly=>true %>
</div></br> 