<div id="sidebar-wrapper">
		      <ul class="sidebar-nav">
		          <li class="sidebar-brand">
		              <a href="#">
		                  
		              </a>
		          </li>
		          <li>
		            <%=link_to 'Basic Details',visit_path(@visit) %> 
		          </li>
		          <li>
		          	<%=link_to 'Diagnosis',  new_visit_diagnosis_path(@visit) %>
		          </li>
		          <li>
		            <%=link_to 'Prescription Details',visit_prescription_details_path(@visit) %>
		          </li>
		          <li>
		             <%=link_to 'Progress Notes',new_visit_note_path(@visit)%>
		          </li>
		          <li>
		          	
		          </li>



		      </ul>
		  </div>
		  <!-- /#sidebar-wrapper -->